@model TaskManager.ViewModels.AccountCenterViewModel

<div class="bg-white">
    <section class="std-container py-3 py-lg-4">
        <h1 class="clr-primary">Account Center</h1>
        <h2><span class="lg-smaller">Manage your account settings.</span></h2>
    </section>
</div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["ErrorMessage"]
        </div>
    }

<div class="std-container py-3 py-lg-4">
<div class="bg-white p-3 card">
    <div class="accordion" id="accordionPanelsStayOpenExample">
    <section class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button acc-username-btn collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Update Username
        </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <form asp-action="UpdateUsername" method="post" class="std-form">
                <p>Current username: <span class="fw-bolder">@Model.CurrentUserName</span></p>
                <label for="newUserName">New Username:</label>
                <input type="text" asp-for="NewUserName" required id="newUserName"/>
                <button type="submit" value="Update Username" class="btn btn-bright">Update Username</button>
                <span asp-validation-for="NewUserName" class="text-danger"></span>
            </form>
        </div>
        </div>
    </section>
    <section class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed fs-4 acc-email-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Update Email
        </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <form asp-action="UpdateEmail" method="post" class="std-form">
                <p>Current email: <span class="fw-bolder">@Model.CurrentEmail</span></p>
                <label for="newEmail">New Username:</label>
                <input type="email" asp-for="NewEmail" required id="newEmail"/>
                
                <button type="submit" value="Update Email" class="btn btn-brand">Update Email</button>
                <span asp-validation-for="NewEmail" class="text-danger"></span>
            </form>            
        </div>
        </div>
    </section>
    <section class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed fs-4 acc-password-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Change Password
        </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            <form asp-action="UpdatePassword" method="post" class="std-form">
                <label for="currentPassword">Current password:</label>
                <input type="password" asp-for="CurrentPassword" required id="currentPassword"/>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>

                <label for="newPassword">New password:</label>
                <input type="password" asp-for="NewPassword" required id="newPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <label for="newPasswordRepeat">Confirm new password:</label>
                <input type="password" asp-for="ConfirmNewPassword" id="newPasswordRepeat" required />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                <button type="submit" value="Update Password" class="btn btn-bright">Update password</button>
            </form>
        </div>
        </div>
    </section>
    <section class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button collapsed fs-4 acc-image-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            Upload New Profile Image
        </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
            <form asp-action="UpdateProfileImage" method="post" enctype="multipart/form-data" class="std-form">
                <label for="imgUpload">Choose a new image:</label>
                <input type="file" asp-for="ProfileImage" accept="image/*" required id="imgUpload" onchange="previewImage(event)"/>
                @if (!string.IsNullOrEmpty(Model.CurrentImage)) {
                    <div class="std-img-container round w-sm-50 w-md-30 mx-auto mb-3">
                        <img src="@Model.CurrentImage" alt="Profile Image" id="profileImagePreview" class="round" />
                    </div>
                }
                <button type="submit" value="Upload Image" class="btn btn-brand">Upload image</button>
            </form>
        </div>
        </div>
    </section>
    <section class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
        <button class="accordion-button collapsed fs-4 acc-deactivate-btn" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
            Deactivate Account
        </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
        <div class="accordion-body">
            <div class="std-form">
            <a asp-action="DeactivateAccount" class="link-btn btn-bright">Deactivate your account</a>
            </div>
        </div>
        </div>
    </section>
    </div>
</div>

</div>