@model TaskManager.ViewModels.TasklistDetailViewModel

@{
    ViewData["Title"] = "Tasklist Details";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["ErrorMessage"]
    </div>
}

<div class="bg-white py-3 py-lg-4">
    <section class="std-container row">
        <div class="col-lg-7">
            <h1 class="clr-accent-bright">@Model.Title</h1>
            <p>@Model.Description</p>
            <p><strong>Created At:</strong> @Model.CreatedAt.ToString("g")</p>
            <p><strong>Created By:</strong> @Model.CreatedByUsername</p>
            <p><strong>Your Role:</strong> @Model.UserRole</p>
        </div>
        <div class="col-lg-5 bg-neutral p-3 card d-flex flex-column">
            <h2>Contributors</h2>
            <div>
            @if (@Model.UserRole == "Owner" || @Model.UserRole == "Admin") {
                <a asp-controller="ListUser" asp-action="Invite" asp-route-listId="@Model.TasklistId" asp-route-listTitle="@Model.Title" asp-route-username="@User.Identity.Name" class="btn link-btn btn-brand mb-2">Invite <i class="fa-regular fa-envelope ms-2"></i></a>
                <a asp-controller="ListUser" asp-action="UpdateRoles" asp-route-listId="@Model.TasklistId" asp-route-listTitle="@Model.Title" class="btn link-btn btn-bright mb-2">Update roles <i class="fa-solid fa-unlock-keyhole ms-2"></i></a>
            }
            @if (@Model.UserRole == "Owner" && Model.Contributors.Count > 1) {
                <a asp-controller="ListUser" asp-action="TransferOwnership" asp-route-listId="@Model.TasklistId" asp-route-listTitle="@Model.Title" class="btn link-btn btn-red mb-2">Transfer ownership <i class="fa-solid fa-crown ms-2"></i></a>
            }
            </div>
            <div class="pt-2 px-2 bg-white contributors-container card flex-grow h-100">
                <ul class="p-0 m-0">
                    @foreach (var contributor in Model.Contributors)
                    {
                        <li class="mb-2">
                            <img src="@contributor.Image" alt="@contributor.Username" style="width: 30px; height: 30px; border-radius: 50%;" />
                            <strong>@contributor.Username</strong> - @contributor.Role
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>
</div>

@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage)) {
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<div class="px-0 py-md-3 py-lg-4">
    <section class="bg-white card-md std-container-md p-3 ">
        <div class="d-flex align-items-center mb-3">
            <h3 class="me-2 mb-0">Tasks</h3>
            @if (Model.UserRole == "Owner" || Model.UserRole == "Admin") {
                    <a asp-controller="Task" asp-action="Create" asp-route-listId="@Model.TasklistId" class="btn link-btn btn-brand">New Task<i class="fa-solid fa-square-plus ms-2"></i></a>
            }
        </div>
        <div class="card bg-neutral p-3 mb-2">
            <div class="row mx-0">
            <div class="col-md-6 px-0 pe-md-3 d-flex flex-column">
                <!-- Search Form -->
                <form class="search-container pb-3 d-flex" asp-action="Tasklist" method="get" asp-route-listId="@Model.TasklistId">
                    <input type="hidden" name="listId" value="@Model.TasklistId" />
                    <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                    <input type="hidden" name="selectedPriority" value="@(ViewBag.SelectedPriority != null ? string.Join(",", ViewBag.SelectedPriority) : "")" />
                    <input type="hidden" name="selectedStatus" value="@(ViewBag.SelectedStatus != null ? string.Join(",", ViewBag.SelectedStatus) : "")" />
                    <input class="search-input flex-grow-1 me-2" type="text" name="searchString" value="@ViewBag.SearchString" placeholder="Search by title..." />
                    <button type="submit" class="btn btn-brand"><i class="fa-solid fa-search"></i></button>
                </form>
                <!-- Sorting Links -->
                <div class="d-flex flex-wrap gap-2 pt-3 mb-3 mb-md-0">
                    <a asp-action="Tasklist" asp-route-listId="@Model.TasklistId" asp-route-sortOrder="description" 
                        asp-route-searchString="@ViewBag.SearchString"
                        asp-route-selectedPriority="@(ViewBag.SelectedPriority != null ? string.Join(",", ViewBag.SelectedPriority) : "")"
                        asp-route-selectedStatus="@(ViewBag.SelectedStatus != null ? string.Join(",", ViewBag.SelectedStatus) : "")"
                        class="btn link-btn btn-bright flex-grow-1">
                        <i class="fa-solid fa-sort"></i> Alphabetically
                    </a>
                    <a asp-action="Tasklist" asp-route-listId="@Model.TasklistId" asp-route-sortOrder="deadline" 
                        asp-route-searchString="@ViewBag.SearchString"
                        asp-route-selectedPriority="@(ViewBag.SelectedPriority != null ? string.Join(",", ViewBag.SelectedPriority) : "")"
                        asp-route-selectedStatus="@(ViewBag.SelectedStatus != null ? string.Join(",", ViewBag.SelectedStatus) : "")"
                        class="btn link-btn btn-bright flex-grow-1">
                        <i class="fa-solid fa-sort"></i> Deadline
                    </a>
                </div>
            </div>
            <div class="col-md-6 px-0 ps-md-3 pt-3 pt-md-0 filter-container">
            <!-- Filter form -->
                <form class="d-flex h-100" method="get" asp-controller="Tasklist" asp-action="Tasklist">
                    <input type="hidden" name="listId" value="@Model.TasklistId" />
                    <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                    <input type="hidden" name="searchString" value="@ViewBag.SearchString" />
        
                    <div class="flex-grow-1">
                        <div class="d-flex mb-3">
                            <span class="fw-bolder me-2">Priority:</span>
                            @for (int i = 1; i <= 3; i++)
                            {
                                <label class="me-2 filter-check">
                                    <input class="" type="checkbox" name="selectedPriority" value="@i"
                                        @(ViewBag.SelectedPriority != null && ViewBag.SelectedPriority.Contains(i) ? "checked" : "") /> @i
                                </label>
                            }
                        </div>
                        <div class="d-flex flex-wrap">
                            <span class="fw-bolder me-2">Status:</span>
                            <label class="me-2 filter-check">
                                <input type="checkbox" name="selectedStatus" value="NotStarted"
                                    @(ViewBag.SelectedStatus != null && ViewBag.SelectedStatus.Contains("NotStarted") ? "checked" : "") /> Not Started
                            </label>
                            <label class="me-2 filter-check">
                                <input type="checkbox" name="selectedStatus" value="InProgress"
                                    @(ViewBag.SelectedStatus != null && ViewBag.SelectedStatus.Contains("InProgress") ? "checked" : "") /> In Progress
                            </label>
                            <label class="me-2 filter-check">
                                <input type="checkbox" name="selectedStatus" value="Done"
                                    @(ViewBag.SelectedStatus != null && ViewBag.SelectedStatus.Contains("Done") ? "checked" : "") /> Done
                            </label>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-bright"><i class="fa-solid fa-filter"></i></button>
                </form>
            </div>
            </div>

        </div>


        <div class="card bg-neutral p-3">
        @if (Model.Tasks.Count == 0) {
            <p>No tasks available for this tasklist.</p>
        }   else {
            foreach (var task in Model.Tasks) {
                <div class="card p-3 mb-3 @GetStatusClass(task.Status)">
                    <div class="row">
                        <div class="col-8">
                            <div class="d-flex">
                                <h4>
                                    @task.Description
                                    @if (task.Status == TaskManager.Models.TaskStatus.NotStarted) {
                                    <span class="badge rounded-pill bg-not-started text-dark">Not Started</span>
                                    } else if (task.Status == TaskManager.Models.TaskStatus.InProgress) {
                                        <span class="badge rounded-pill bg-progress text-dark">In Progress</span>
                                    } else if (task.Status == TaskManager.Models.TaskStatus.Done) {
                                        <span class="badge rounded-pill bg-complete">Complete</span>
                                    }
                                    @if (task.Priority == 1) {
                                    <span class="badge rounded-pill badge bg-dark text-white">Prio @task.Priority</span>
                                    } else if (task.Priority == 2) {
                                        <span class="badge rounded-pill badge bg-mid-dark text-white">Prio @task.Priority</span>
                                    } else {
                                        <span class="badge rounded-pill badge bg-neutral-dark text-dark">Prio @task.Priority</span>
                                    }
                                </h4>
                            </div>
                            <p><span class="fw-bolder">Due:</span> @task.Deadline.ToString("g")</p>
                            <p><span class="fw-bolder">Created:</span> @task.CreatedAt.ToString("g")</p>
                        </div>
                        <div class="col-4 d-flex justify-content-end align-items-start">
                            @if (Model.UserRole == "Owner" || Model.UserRole == "Admin") {
                                <a asp-controller="Task" asp-action="Edit" asp-route-TaskId="@task.Id" class="btn link-btn btn-edit p-2 px-4 me-2" data-bs-toggle="tooltip" data-bs-title="Edit task"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a asp-controller="Task" asp-action="Delete" asp-route-TaskId="@task.Id" class="btn link-btn btn-red p-2 px-4" data-bs-toggle="tooltip" data-bs-title="Delete task"><i class="fa-solid fa-trash"></i></a>
                            }
                        </div>

                        <div class="task-progress">
                            <span class="task-pill rounded-pill bg-not-started p-2">Not started</span>
                            @if (task.Status == TaskManager.Models.TaskStatus.NotStarted) {
                                <form asp-controller="Task" asp-action="Progress" method="post" style="display: inline;">
                                    <input type="hidden" name="taskId" value="@task.Id" />
                                    <button type="submit" class="task-pill btn btn-progress-outline rounded-pill">In progress</button>
                                </form>
                            } else {
                                <span class="task-pill rounded-pill bg-progress text-dark p-2">In Progress</span>
                            }
                            @if (task.Status == TaskManager.Models.TaskStatus.NotStarted || task.Status == TaskManager.Models.TaskStatus.InProgress) {
                                <form asp-controller="Task" asp-action="Complete" method="post" style="display: inline;">
                                    <input type="hidden" name="taskId" value="@task.Id" />
                                    <button type="submit" class="task-pill btn btn-complete-outline rounded-pill">Complete</button>
                                </form>
                            } else {
                                <span class="task-pill rounded-pill bg-complete text-white p-2">Complete</span>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        </div>


    </section>
</div>

@functions {
    public string GetStatusClass(TaskManager.Models.TaskStatus status)
    {
        return status switch
        {
            TaskManager.Models.TaskStatus.NotStarted => "",
            TaskManager.Models.TaskStatus.InProgress => "bg-progress-light",
            TaskManager.Models.TaskStatus.Done => "bg-complete-light",
            _ => "" // Default class (if needed)
        };
    }
}
