@model IEnumerable<TaskManager.Models.TasklistModel>

@{
    ViewData["Title"] = "My lists";
}

<div class="bg-white py-3 py-lg-5">
    <section class="std-container row">
        <div class="col-lg-7 pe-lg-3">
            <h1 class="clr-accent-bright">Hey @User.Identity.Name!</h1>

            <h2><span class="fs-lg-smaller">From this page you can easily access all your tasklists, or create a new one and get your next project organized!</span></h2>
        </div>
        <div class="py-3 d-flex flex-column align-items-center justify-content-center col-lg-5">
            <h2 class="my-carousel no-wrap">
                    <span class="carousel-text clr-primary">Renovation project -></span>
                    <span class="carousel-text clr-accent-bright">School work -></span>
                    <span class="carousel-text clr-accent-warm">Next big thing -></span>
                    <span class="carousel-text clr-accent-bright">Grand plan -></span>
            </h2>
            <a asp-action="Create" class="link-btn btn-brand shadow-light">Create New Tasklist!</a>
        </div>
    </section>
</div>

<section class="std-container my-3 py-3">
<h2>Your tasklists</h2>
<!-- Sorting Links -->
<div>
    <a class="btn rounded-pill bg-brand me-1 text-white shadow-dark" asp-action="Tasklists" asp-route-sortOrder="title" asp-route-searchString="@ViewBag.SearchString" asp-route-filter="@ViewBag.Filter">Sort by Title</a>
    <a class="btn rounded-pill bg-brand text-white shadow-dark" asp-action="Tasklists" asp-route-sortOrder="date" asp-route-searchString="@ViewBag.SearchString" asp-route-filter="@ViewBag.Filter">Sort by Creation Date</a>
</div>

@if (!Model.Any()) {
    <p>No results found</p>
} else {
    @foreach (var tasklist in Model) {
        if (tasklist.IsActive == true) {
            <div class="card my-3 shadow-dark">
                <div class="card-body row">
                    <div class="card-text-blk col-md-10">
                        <h3 class="card-title">@tasklist.Title <span class="badge rounded-pill badge-bright">@tasklist.UserRole</span></h3>
                        <p class="card-text">@tasklist.Description <span class="fw-lighter">(Created @tasklist.CreatedAt.ToShortDateString())</span></p>
                    <div class="contributors d-flex">
                        @if (tasklist.Contributors.Count <= 4) {
                            @foreach (var contributor in tasklist.Contributors) {
                                <div class="d-flex round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="@contributor.UserName">
                                    <img src="@contributor.ProfileImage" alt="@contributor.UserName" height="40" class="cover round" />
                                </div>
                            }
                        } else {
                            // Show the first 3 contributors
                            var firstThreeContributors = tasklist.Contributors.Take(3).ToList();
                            foreach (var contributor in firstThreeContributors) {
                                <div class="d-flex round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="@contributor.UserName">
                                    <img src="@contributor.ProfileImage" alt="@contributor.UserName" height="40" class="cover round" />
                                </div>
                            }
                            // Show current user's image first and count remaining
                            var otherContributorsCount = tasklist.Contributors.Count - 3;
                            <div class="d-flex justify-content-center align-items-center w-40 round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="+ @otherContributorsCount other users">
                                <span class="other-count fw-bold">+@otherContributorsCount</span>
                            </div>
                        }
                    </div>
                    </div>
                    <div class="tl-controls col-md-2 d-flex flex-column">
                    @if (tasklist.UserRole == "Owner" || tasklist.UserRole == "Admin") {
                        <a class="link-btn btn-edit m-1 shadow-light" asp-action="EditList" asp-route-listId="@tasklist.Id" data-bs-toggle="tooltip" data-bs-title="Edit tasklist"><i class="fa-regular fa-pen-to-square"></i></a>
                    } 
                    @if (tasklist.UserRole == "Owner") {
                        <a class="link-btn btn-red m-1 shadow-light" asp-action="Delete" asp-route-listId="@tasklist.Id" data-bs-toggle="tooltip" data-bs-title="Delete tasklist"><i class="fa-solid fa-trash"></i></a>
                    } else {
                        <a class="link-btn m-1 shadow-light" asp-controller="ListUser" asp-action="LeaveList" asp-route-listId="@tasklist.Id" data-bs-toggle="tooltip" data-bs-title="Leave tasklist"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    }
                    <a class="link-btn btn-brand m-1 shadow-light" asp-action="Tasklist" asp-route-listId="@tasklist.Id" data-bs-toggle="tooltip" data-bs-title="Open tasklist"><i class="fa-regular fa-folder-open"></i></a>
                    </div>
                </div>
            </div>
        } else {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@tasklist.Title</h5>
                    <p class="card-text">@tasklist.Description</p>
                    <p class="card-text">Created on: @tasklist.CreatedAt.ToShortDateString()</p>
                    <p class="card-text">Role: @tasklist.UserRole</p>

                    <p class="card-text text-danger">This list has been deleted. <a asp-controller="ListUser" asp-action="LeaveList" asp-route-listId="@tasklist.Id">Leave tasklist</a></p>
                </div>
            </div>
        }
    }
}
</section>

@if (ViewBag.error != null) {
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-xmark clr-accent-warm"></i> @ViewBag.error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-check clr-primary"></i> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-xmark clr-accent-warm"></i> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}