@model IEnumerable<TaskManager.Models.TasklistModel>

@{
    ViewData["Title"] = "My invitations";
}

<section class="std-container">
    @if (!Model.Any()) {
        <h1 class="mt-3">You have no pending invitations</h1>
    } else {
        <h1 class="mt-3">You have been invited to the following tasklists:</h1>
        @foreach (var tasklist in Model) {
            if (tasklist.IsActive) {
                <div class="card my-3 shadow-dark">
                    <div class="card-body row">
                        <div class="card-text-blk col-md-10">
                            <h3 class="card-title">@tasklist.Title</h3>
                            <p class="card-text">@tasklist.Description <span class="fw-lighter">(Created @tasklist.CreatedAt.ToShortDateString())</span></p>
                            <p class="cart-text">Invited as <span class="fw-bold">@tasklist.UserRole</span></p>
                            <div class="contributors d-flex">
                                @if (tasklist.Contributors.Count <= 4) {
                                    @foreach (var contributor in tasklist.Contributors) {
                                        <div class="d-flex round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="@contributor.UserName">
                                            <img src="@contributor.ProfileImage" alt="@contributor.UserName" height="40" class="cover round" />
                                        </div>
                                    }
                                } else {
                                    // Show the first 3 contributors
                                    var firstThreeContributors = tasklist.Contributors.Take(3).ToList();
                                    foreach (var contributor in firstThreeContributors) {
                                        <div class="d-flex round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="@contributor.UserName">
                                            <img src="@contributor.ProfileImage" alt="@contributor.UserName" height="40" class="cover round" />
                                        </div>
                                    }
                                    // Show current user's image first and count remaining
                                    var otherContributorsCount = tasklist.Contributors.Count - 3;
                                    <div class="d-flex justify-content-center align-items-center w-40 round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="+ @otherContributorsCount other users">
                                        <span class="other-count fw-bold">+@otherContributorsCount</span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-2 mt-3 mt-md-0 d-flex flex-column gap-2">
                            <form asp-action="AcceptInvite" method="post" class="d-flex flex-grow">
                                <input type="hidden" name="listId" value="@tasklist.Id" />
                                <button type="submit" class="btn btn-brand shadow-light w-100">Accept</button>
                            </form>
                            <form asp-action="DeclineInvite" method="post" class="d-flex flex-grow">
                                <input type="hidden" name="listId" value="@tasklist.Id" />
                                <button type="submit" class="btn btn-red shadow-light w-100">Decline</button>
                            </form>
                        </div>
                    </div>
                </div>
            } else {
                <div class="card my-3 shadow-dark">
                    <div class="card-body row">
                        <div class="col-md-10">
                            <h3 class="card-title text-muted">@tasklist.Title</h3>
                            <p class="text-muted">@tasklist.Description <span class="fw-lighter">(Created @tasklist.CreatedAt.ToShortDateString())</span></p>
                            <p class="text-muted">Invited as <span class="fw-bold">@tasklist.UserRole</span></p>
                            <p class="clr-accent-warm">This list has been deleted.</p>
                            <div class="contributors d-flex">
                                @if (tasklist.Contributors.Count <= 4) {
                                    @foreach (var contributor in tasklist.Contributors) {
                                        <div class="d-flex round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="@contributor.UserName">
                                            <img src="@contributor.ProfileImage" alt="@contributor.UserName" height="40" class="cover round" />
                                        </div>
                                    }
                                } else {
                                    // Show the first 3 contributors
                                    var firstThreeContributors = tasklist.Contributors.Take(3).ToList();
                                    foreach (var contributor in firstThreeContributors) {
                                        <div class="d-flex round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="@contributor.UserName">
                                            <img src="@contributor.ProfileImage" alt="@contributor.UserName" height="40" class="cover round" />
                                        </div>
                                    }
                                    // Show current user's image first and count remaining
                                    var otherContributorsCount = tasklist.Contributors.Count - 3;
                                    <div class="d-flex justify-content-center align-items-center w-40 round me-1 bg-neutral border-neutral" data-bs-toggle="tooltip" data-bs-title="+ @otherContributorsCount other users">
                                        <span class="other-count fw-bold">+@otherContributorsCount</span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-2 mt-3 mt-md-0 d-flex flex-column gap-2">
                            <form asp-action="DeclineInvite" method="post" class="d-flex flex-grow">
                                <input type="hidden" name="listId" value="@tasklist.Id" />
                                <button type="submit" class="btn btn-red shadow-light w-100">Dismiss</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    }

</section>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-check clr-primary"></i> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-xmark clr-accent-warm"></i> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}